.head { 

margin-left: 10px;
margin-top: 30px;

}

.name, .about { 


margin-left: 60px;
margin-right: 450px;

}

.name { 

margin-top: 110px;

}

.about { 

margin-bottom: 
135px

;
}

.images { 
margin-left: 300px;


}

